author: James Diao
markdown: kramdown
permalink: /:categories/:title
description: Thoughts and projects in healthcare/tech/science
exclude:
 - .sass-cache/
 - .jekyll-cache/
 - gemfiles/
 - Gemfile
 - Gemfile.lock
 - node_modules/
 - vendor/bundle/
 - vendor/cache/
 - vendor/gems/
 - vendor/ruby/
