<head>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="author" content="James Diao">
	<meta name="description" content="Thoughts and projects in healthcare/tech/science">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }} | James Diao </title>
	<link rel="icon" href="/lambda.ico" type="image/x-icon">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico"/> 
	<!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112849177-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-112849177-1');
  </script>
</head>
