<!DOCTYPE html>
	<html>
		{% include head.html %}
		<title>{{ page.title }}</title>
		<div class="container">
		
		<nav>
			<div class="header">
			  <h3 class="text-muted" style="display: inline"><a href="/about">JD</a></h3>
    		<ul class="nav nav-pills pull-auto">
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/archives">Posts</a></li>
    		</ul>
  		</div>
		</nav>
		
		{{ content }}
		
		<footer>
			<div class="footer">
	    		<ul class="nav nav-pills pull-right">
	        		<li><a href="mailto:diao.james@gmail.com"><img src="/img/1-email.png" alt="Email Logo" title="Email Logo" class="img-responsive" style="width:35px;height:auto;"></a></li>
	        		<li><a href="https://www.facebook.com/james.diao/"><img src="/img/1-facebook.png" alt="Facebook Logo" title="Facebook Logo" class="img-responsive" style="width:35px;height:auto;"></a></li>
	        		<li><a href="https://github.com/jamesdiao"><img src="/img/1-github.png" alt="Github Logo" title="Github Logo" class="img-responsive" style="width:35px;height:auto;"></a></li>
	        		<li><a href="https://www.linkedin.com/in/jamesdiao/"><img src="/img/1-linkedin.png" alt="Linkedin Logo" title="Linkedin Logo" class="img-responsive" style="width:35px;height:auto;"></a></li>
				</ul>
    		<!-- <h5 class="text-muted">Version 2.5</h5> -->
			</div>
		</footer>

		</div><!-- /.container -->

	</html>